.auth-container {
min-height: 90vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(135deg, #eef2ff, #f8fafc);
}


.auth-box {
width: 380px;
background: #ffffff;
padding: 30px;
border-radius: 12px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.auth-box h2 {
text-align: center;
margin-bottom: 25px;
color: #4f46e5;
}


.form-group {
margin-bottom: 18px;
}


.form-group label {
display: block;
margin-bottom: 6px;
font-size: 14px;
}


.form-group input {
width: 100%;
padding: 10px;
border-radius: 6px;
border: 1px solid #ccc;
outline: none;
}


.form-group input:focus {
border-color: #4f46e5;
}


.auth-btn {
width: 100%;
padding: 10px;
border: none;
background: #4f46e5;
color: white;
font-size: 16px;
border-radius: 6px;
cursor: pointer;
}


.auth-btn:hover {
background: #4338ca;
}


.auth-text {
margin-top: 15px;
text-align: center;
font-size: 14px;
}


.auth-text span {
color: #4f46e5;
cursor: pointer;
font-weight: 500;
}