.navbar {
  display:fles;
  justify-content:space-between;
  align-items:center;
  padding:16px 40px;
  background-color:#ffffff;
  box-shadow:0 2px 10px rgba(0,0,0,0.08); 
}
.log{
  font-size:24px;
  font-weight: bold;
  color: #4f46e5;

}

.nav-links{
  list-style:none;
  display:flex;
  gap:20px;
}
.nav-lins a{
  text-decoration:none;
  color:#333;
  font-weight: 500;
}
.nav-links a:hover{
  color:#4f46e5;
}